body {
	font-family: 'Roboto', sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
	background: linear-gradient(135deg, #f5a623, #f76b1c);
	color: #ffffff;
	overflow: hidden;
}

.container {
	text-align: center;
	padding: 20px;
	animation: fadeIn 1s ease-in-out;
}

.box {
	background: rgba(30, 31, 34, 0.5);
	padding: 40px 30px;
	border-radius: 15px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
	backdrop-filter: blur(10px);
	transition: all 0.3s ease;
	max-width: 500px;
	margin: auto;
}

h1 {
	margin-top: 0;
	font-size: 2.5em;
	color: #fff;
	animation: fadeInDown 1s ease-in-out;
}

p.description {
	font-size: 1.2em;
	color: #fff;
	animation: fadeInUp 1s ease-in-out;
}

button {
	background: #ffcc00;
	color: #000;
	border: none;
	padding: 15px 30px;
	border-radius: 25px;
	font-size: 1.2em;
	cursor: pointer;
	transition: background-color 0.3s, transform 0.3s;
	margin-top: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	animation: fadeInUp 1s ease-in-out;
}

button:hover {
	background: #ffa500;
	transform: scale(1.05);
}

button:active {
	background: #ff8c00;
	transform: scale(0.95);
}

.hidden {
	display: none;
}

.fade-out {
	opacity: 0;
	transition: opacity 0.5s;
}

.fade-in {
	opacity: 1;
	transition: opacity 0.5s;
}

.buttons-container {
	display: flex;
	flex-direction: column;
	gap: 15px;
	margin-top: 20px;
}

.activity-details {
	text-align: left;
	margin-top: 20px;
	animation: fadeInUp 1s ease-in-out;
}

.activity-details p {
	margin: 5px 0;
	font-size: 1em;
	color: #fff;
}

.activity-details a {
	color: #ffcc00;
	text-decoration: none;
}

.activity-details a:hover {
	text-decoration: underline;
}

footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	text-align: center;
	padding: 10px;
	background: transparent;
}

footer a {
	margin: 0 15px;
	display: inline-block;
	font-size: 20px;
	color: rgba(30, 31, 34, 0.9);
}

@keyframes fadeIn {
	from {
		opacity: 0;
		transform: scale(0.9);
	}

	to {
		opacity: 1;
		transform: scale(1);
	}
}

@keyframes fadeInDown {
	from {
		opacity: 0;
		transform: translateY(-20px);
	}

	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes fadeInUp {
	from {
		opacity: 0;
		transform: translateY(20px);
	}

	to {
		opacity: 1;
		transform: translateY(0);
	}
}